/* Custom */
.section, .modal {
    font-family: 'Cinzel';
}

#mainSection{
    background-image: url('../res/ambassadors/bg/home-bg.jpg');
    background-size: cover;
}

/* #mainSectionVideo{
    background-color: #000;
} */

#eventCountdownSection {
    background-color: #000000;
}

.IA_head{
    font-family: 'Alex Brush';
    color: #ffca28;
}

.front-page {
    height: 100%;
}

.title {
    font-family: 'Alex Brush';
    /* text-shadow: 0px 0px 30px #000; */
}

.caption {
    font-family: 'Cinzel';
    text-shadow: 0px 0px 15px #000;
}

.candidate-name {
    margin: 25px auto;
    font-family: 'Cinzel';
    text-shadow: 0px 0px 5px #000;
}

.candidate-card img {
    transition-duration: 0.2s;
}

.candidate-img {
    filter: grayscale(80);
}

.candidate-img:hover {
    filter: grayscale(0);
}

.desc{
    font-family: 'Source Sans Pro';
}
/* End-of-Custom */