body {
    font-family: 'Montserrat' sans-serif;
    letter-spacing: 0.05rem;
}

.gradient {
    background: rgba(247,165,0,1);
    background: -moz-linear-gradient(top, rgba(247,165,0,1) 0%, rgba(235,214,76,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,165,0,1)), color-stop(100%, rgba(235,214,76,1)));
    background: -webkit-linear-gradient(top, rgba(247,165,0,1) 0%, rgba(235,214,76,1) 100%);
    background: -o-linear-gradient(top, rgba(247,165,0,1) 0%, rgba(235,214,76,1) 100%);
    background: -ms-linear-gradient(top, rgba(247,165,0,1) 0%, rgba(235,214,76,1) 100%);
    background: linear-gradient(to bottom, rgba(247,165,0,1) 0%, rgba(235,214,76,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7a500', endColorstr='#ebd64c', GradientType=0 );

    /* background: rgba(255,157,38,1);
    background: -moz-linear-gradient(top, rgba(255,157,38,1) 0%, rgba(209,215,35,1) 50%, rgba(26,162,26,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,157,38,1)), color-stop(50%, rgba(209,215,35,1)), color-stop(100%, rgba(26,162,26,1)));
    background: -webkit-linear-gradient(top, rgba(255,157,38,1) 0%, rgba(209,215,35,1) 50%, rgba(26,162,26,1) 100%);
    background: -o-linear-gradient(top, rgba(255,157,38,1) 0%, rgba(209,215,35,1) 50%, rgba(26,162,26,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,157,38,1) 0%, rgba(209,215,35,1) 50%, rgba(26,162,26,1) 100%);
    background: linear-gradient(to bottom, rgba(255,157,38,1) 0%, rgba(209,215,35,1) 50%, rgba(26,162,26,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9d26', endColorstr='#1aa21a', GradientType=0 ); */
    
    /* background: rgba(26,163,26,1);
    background: -moz-linear-gradient(top, rgba(26,163,26,1) 0%, rgba(211,217,35,1) 50%, rgba(255,157,38,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(26,163,26,1)), color-stop(50%, rgba(211,217,35,1)), color-stop(100%, rgba(255,157,38,1)));
    background: -webkit-linear-gradient(top, rgba(26,163,26,1) 0%, rgba(211,217,35,1) 50%, rgba(255,157,38,1) 100%);
    background: -o-linear-gradient(top, rgba(26,163,26,1) 0%, rgba(211,217,35,1) 50%, rgba(255,157,38,1) 100%);
    background: -ms-linear-gradient(top, rgba(26,163,26,1) 0%, rgba(211,217,35,1) 50%, rgba(255,157,38,1) 100%);
    background: linear-gradient(to bottom, rgba(26,163,26,1) 0%, rgba(211,217,35,1) 50%, rgba(255,157,38,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1aa31a', endColorstr='#ff9d26', GradientType=0 ); */
    
    /* background: rgba(33,204,44,1);
    background: -moz-linear-gradient(top, rgba(33,204,44,1) 0%, rgba(19,59,9,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(33,204,44,1)), color-stop(100%, rgba(19,59,9,1)));
    background: -webkit-linear-gradient(top, rgba(33,204,44,1) 0%, rgba(19,59,9,1) 100%);
    background: -o-linear-gradient(top, rgba(33,204,44,1) 0%, rgba(19,59,9,1) 100%);
    background: -ms-linear-gradient(top, rgba(33,204,44,1) 0%, rgba(19,59,9,1) 100%);
    background: linear-gradient(to bottom, rgba(33,204,44,1) 0%, rgba(19,59,9,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21cc2c', endColorstr='#133b09', GradientType=0 ); */
}

.front-page {
    background-image: url('../res/election/bg/register.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.election-page {
    background-image: url('../res/election/bg/speaker.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.candidate-page {
    background-image: url('../res/election/bg/sponsor.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}