/* HTML_Elements */
body {
    /* overflow: hidden; */
}
/* End-of-HTML_Elements */


/* Custom_CSS */
.title {
    letter-spacing: 3px;
    padding-bottom: 50px;
    font-weight: 800;
    font-size: 48px;
}
/* End-of-Custom_CSS */