/* HTML_Elements */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

a {
    text-decoration: none !important;
}
/* End-of-HTML_Elements */


/* Bootstrap */
.clearfix {
    content: "";
    clear: both;
    display: table;
}

.navbar {
    background-color: #0a0a0a;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.img-center {
    display: block;
    margin: auto;
}
/* End-of-Bootstrap */


/* Custom_Bootstrap*/
.text-black {
    color: #000 !important;
}

.text-shadow {
    text-shadow: 2px 2px 2px #000;
}

.box-shadow {
    box-shadow: 2px 2px 2px #000;
}

.bg-black {
    background-color: #000 !important;
}

.bg-transparent {
    background-color: rgba(0, 0, 0, 0) !important;
}
/* End-of-Custom_Bootstrap */

/* Load Animation */
#load {
    z-index:9999;
    /* background-color: rgba(248, 249, 250, 0.90); */
    /* background:url('../res/img/load.gif') no-repeat center center #262626; */
}

#load img {
    animation-name: loadAnim;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* YouTube Responsive */
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

@keyframes loadAnim {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}