/* Fonts */
@font-face {
    font-family: Myriad-Bold;
    src: url(../res/technofest/fonts/MyriadPro-Bold.otf);
}

@font-face {
    font-family: Myriad-SemiBold;
    src: url(../res/technofest/fonts/MyriadPro-Semibold.otf);
}

@font-face {
    font-family: Myriad-Reg;
    src: url(../res/technofest/fonts/MyriadPro-Regular.otf);
}

@font-face {
    font-family: Myriad-SemiIt;
    src: url(../res/technofest/fonts/MyriadPro-SemiboldIt.otf);
}

@font-face {
    font-family: MyriadBoldIt;
    src: url(../res/technofest/fonts/MyriadPro-BoldIt.otf);
}

/* Custom */
.section {
    background-color: #fff;
    font-family: 'Source Sans Pro';
}

.front-page {
    background-image: url('../res/technofest/bg/main.jpg');
}

.front-page-text {
    margin-top: 5em;
    text-shadow: 0px 0px 10px #000;
}

.register-button {
    padding-top: -10%;
    font-size: 2em;
}

#speakerSection {
    /*background-color: #036c44;*/
    background-image: url('../res/technofest/bg/speaker.jpg');
}

#speakerAlternateSection {
    /*background-color: #036c44;*/
    background-image: url('../res/technofest/bg/register.jpg');
}

#speakerSection .card {
    background-color: transparent;
    border: none;
}

#aboutSection {
    background-image: url('../res/technofest/bg/about.jpg');
    background-size: cover;
}

#historySection {
    background-image: url('../res/technofest/bg/history.png');
    background-size: cover;
}

#themeSection {
    background-image: url('../res/technofest/bg/theme.jpg');
}

#gallerySection {
    background-image: url('../res/technofest/bg/register.jpg');
}

#sponsorSection {
    background-image: url('../res/technofest/bg/sponsor.jpg');
}

#competitionSection {
    background-image: url('../res/technofest/bg/speaker.jpg');
    background-size: cover;
}

#paperSection {
    background-image: url('../res/technofest/bg/paper-alt.jpg');
}

#scheduleSection {
    background-image: url('../res/technofest/bg/schedule.jpg');
}

#registerSection {
    background-image: url('../res/technofest/bg/register.jpg');
}

#registerSection .card {
    height: auto;
}

#locationSection {
    background-color: #1a1a1a;
    padding: 0;
}

#paperMainSection {
    background-image: url('../res/technofest/bg/paper.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#competitionMainSection {
    background-image: url('../res/technofest/bg/competition.jpg');
    background-size: cover;
    background-position: center;
}

#speakerMainSection {
    background-image: url('../res/technofest/bg/speaker-2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-img {
    filter: grayscale(100%);
    transition-duration: 0.4s;
}

.grayscale {
    filter: grayscale(100%);
}

.gallery-img:hover {
    filter: grayscale(0%);
}

.shadow-text{
    text-shadow: 1px 1px 1px #000000;
}


.speaker-banner {
    transform: skewX(20deg);
    top: 1rem;
}


/* Fonts */
.bold{
    font-family: 'Myriad-Bold';
}

.semi{
    font-family: 'Myriad-Semibold';
}

.semiit{
    font-family: 'Myriad-SemiIt';
}

.boldit{
    font-family: 'Myriad-BoldIt';
}

.space{
    letter-spacing:-2px;
}

.green{
    color: #036c44;
}

.text-height{
    line-height: 70%;
}
/* End-of-Custom */
