@font-face {
    font-family: 'Bebas Neue';
    src: url(../res/technorun/fonts/BebasNeue.otf);
}

@font-face {
    font-family: Gotham-Reg;
    src: url(../res/technorun/fonts/Gotham-Regular.otf);
}

@font-face {
    font-family: Gotham-Med;
    src: url(../res/technorun/fonts/Gotham-Medium.otf);
}

@font-face {
    font-family: Gotham-Bold;
    src: url(../res/technorun/fonts/Gotham-Bold.ttf);
}


.bebas{
    font-family: 'Bebas Neue';
}

.impact{
    font-family: 'Anton';
}

.gotham-b{
    font-family: Gotham-Bold;
}

.gotham-m{
    font-family: Gotham-Med;
}

.gotham-r{
    font-family: Gotham-Reg;
}

.title {
    font-family: 'Slabo 27px';
}

#mainSection{
    background-image: url('../res/technorun/bg/main.jpg');
    background-size: cover;
}

#aboutSection{
    background-image: url('../res/technorun/bg/about.jpg');
    background-size: cover;
}

#catSection{
    background-image: url('../res/technorun/bg/cat.jpg');
    background-size: cover;
}

#receiptSection{
    background-image: url('../res/technorun/bg/cat.jpg');
    background-size: cover;
}

#cat3k {
    background-image: url('../res/technorun/banner/register_3k.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#cat5k {
    background-image: url('../res/technorun/banner/register_5k.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#cat10k {
    background-image: url('../res/technorun/banner/register_10k.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#detailsSection{
    background-image: url('../res/technorun/bg/details.jpg');
    background-size: cover;
}

#registerSection{
    background-image: url('../res/technorun/bg/register.jpg');
    background-size: cover;
    font-family: 'Impact';
    font-style: italic;
    text-transform: uppercase;
}

#organizerSection{
    /* background-image: url('../res/technorun/bg/organizer.jpg'); */
    background-size: cover;
}

.btn-solid {
    /* text-shadow: 0px 0px 2px #000; */
    box-shadow:  0px 2px 3px #000;
    font-size: 2rem;
    letter-spacing: 0.1rem;

    background: -webkit-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
    background: -moz-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
    background: -ms-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
    background: -o-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
    background: radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
    background-size: 10px 10px, 10px 10px, 100% 100%;
    background-position: 1px 1px, 0px 0px, center center;
}